* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1600px;
    background-color: rgb(85, 85, 85);
    height: 600px;
}

.WorkingPane{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.EPList{
    margin-top: 30px;
    background-color: white;
    width: 1100px;
    height: 500px;
}

.Hat{
    display: flex;
    width: 1100px;
    border: 1px solid darkslategrey;
    background-color: rgb(209, 209, 209);

}
.EPItem{
    display: flex;
    width: 1100px;
    border: 1px solid darkslategray;
    justify-content: space-between;
}